tei-head {
	font-weight: bold;
}

/* linebreak after a title, a paragraph
	chapter/part */
tei-head, 
tei-p,
tei-div,
tei-ab {
	display: block;
}

tei-ab {
	margin-bottom: .5em;
}

/* setting the backgrund color of line- and pagebeginnings
	so they always stay white */
tei-pb {
	background-color: white;
}
tei-lb {
	background-color: white;
}

tei-cb {
	background-color: white;
}
/* linebreak before the start of a new line */
tei-lb::before {
    content: "\00000a";
    white-space: pre-wrap;
}

/* display the pagenumbers in front of the pagebeginnings */
tei-pb[n]::before {
	color: grey;
    content: "\00000a"attr(n)"\00a0";
    white-space: pre-wrap;
}

/* display the columnnumbers in front of the columnbeginnings */
tei-cb[n]::before {
	color: grey;
    content: "\00000aCol.\00a0"attr(n)"\00a0";
    white-space: pre-wrap;
}

/* display the linenumbers in front of the linebeginnings */
tei-lb[n]::before {
	color: grey;
    content: "\00000a"attr(n)"\00a0";
    white-space: pre-wrap;
}

/* quotation marks around direct speech */
tei-said::before, 
tei-said::after {
    color: grey;
	content: "\"";
}

/* french quotation marks around quotes */
tei-quote::before {
	color: grey;
    content: "»";
}

tei-quote::after {
    color: grey;
	content: "«";
}

/* text highlights */
tei-text *[rend~="italic"] {
	font-style: italic;
}

tei-text *[rend~="bold"] {
	font-weight: bold;
}

tei-text *[rend~="sup"] {
	font-size: 70%;
	vertical-align: super;
}

tei-text *[rend~="superscript"] {
	font-size: 70%;
	vertical-align: super;
}

tei-text *[rend~="sub"] {
	font-size: 70%;
	vertical-align: sub;
}

tei-text *[rend~="subscript"] {
	font-size: 70%;
	vertical-align: sub;
}

/* indentation */
tei-text *[rend~="indent"]{
	margin-left: 1em;
}
  
tei-text *[rend~="indentTwo"]{
	margin-left: 2em;
}

/* editorial additions (Leiden-style)
	see https://git.noc.ruhr-uni-bochum.de/sfb1475-inf/subproject-data/-/issues/14#note_116732 */
tei-supplied::before {
	color: grey;
    content: "(";
}

tei-supplied::after {
	color: grey;
    content: ")";
}

tei-supplied[reason="augment"]::before {
	color: grey;
    content: "(";
}

tei-supplied[reason="augment"]::after {
    color: grey;
	content: ")";
}

tei-supplied[reason="lost"]::before {
	color: grey;
    content: "[";
}

tei-supplied[reason="lost"]::after {
	color: grey;
    content: "]";
}

tei-gap::after {
	color: grey;
    content: "[…]";
}

tei-gap[reason="lost"]::after {
	color: grey;
    content: "[…]";
}

tei-gap[reason="illegible"]::after {
	color: grey;
    content: "…";
}

tei-supplied > tei-gap::after {
	color: grey;
    content: "…";
}

/* titles added by an agent, who is not the author*/
tei-head[resp] {
	color: grey;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	  
}

tei-hi[rend~=italic] {
	font-style: italic;
}

tei-hi[rend~=bold] {
	font-weight: bold;
}

/* poem specifics*/
/* ------------------------------------*/

/* display each line in one line
	and add some sapce after each linegroup */
tei-l, 
tei-lg {
	display: block;
}

tei-lg {
	margin-bottom: 1rem;
}

/* end of text structure specifics */
/* ------------------------------------ */
