html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  align-items: flex-start;
}

.toc {
  font-family: Lato;
  position: sticky;
  text-transform: capitalize;
  top: 0; 
  padding: 0.5rem 2rem;
  background-color: #f4f4f4;
  height: 100vh; 
  flex-shrink: 0; 
  line-height: 180%;
  border-right: 1px solid #e2e2e2;
}

.toc ul {
  margin: 0;
  padding: 0 0 0 1rem;
}

.toc ul a {
  color: #1a1a1a;
}

.reading {
  flex: 1;
  padding: 1rem 2rem;
}